#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  background-color: #f7f6f2;
}

img {
  max-width: 10%;
  height: auto;
}

.selfie-image {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

body {
  background-color: #f7f6f2;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  background-color: #f7f6f2;
}

.nav.nav-tabs {
  display: flex;
  justify-content: flex-end;
  background-color: #f7f6f2;
  padding: 10px;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link.active {
  color: #ffcc00;
}

.work-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  padding-left: 15%;
}
.work-container {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.work-card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.visit-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
}

.visit-button:hover {
  background-color: #333;
}

.github {
  background-color: black;
}

.email {
  background-color: black;
}

.linkedin {
  background-color: black;
}

.main-content {
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
}

.contact-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: black;
}

.download-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.download-button:hover {
  background-color: #333;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7f6f2;
  padding: 20px 0;
  text-align: center;
  z-index: 100; /* Set a z-index to ensure it appears above other content */
}

.footer-content {
  display: flex;
  justify-content: center;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  display: inline-block;
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #000;
}
